.dashboard {
    position: relative;
    width: 100%;
    grid-area: dashboard;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.dark-theme {
    .dashboard {
        color: #eeeeee;
    }
}