.code-card {
    position: relative;
    background-color: #f0f0f0;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-width: 0 0 thin;
    border-style: solid;

    &:nth-child(2n)
    {
        background-color: #fbfbfb;
    }

    > .information-wrapper {
        display: grid;
        grid-template-areas:
            "base specific none";
        padding: 20px 40px;

        > .information {

            > .element {
                position: relative;
                display: block;
                padding: 4px 0;

                &.card-id {
                    display: block;

                    > .identity-name {
                        color: #44aece;
                        background: none;
                        border: none;
                        outline: none;
                    }
                }
            }

            &.base {
                grid-area: base;
            }

            &.specific {
                grid-area: specific;
            }
        }
    }

    > .code {
        border-top-color: rgba(0, 0, 0, 0.12);
        border-width: thin 0 0;
        border-style: solid;
        padding: 10px 45px;
    }

    > .remove-button {
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        background: none;
        padding: 16px;
        
        > span {
            cursor: pointer;
        }
    }
}

.dark-theme {

    .code-card {
        background-color: #2e2e2e;

        > .remove-button {
            color: #eeeeee;
        }

        > .base-information {

            > .element &.card-id > .identity-name {
                color: #44aeceba;
            }
        }

        &:nth-child(2n)
        {
            background-color: #313131;
        }
    }
}