.code-card {
    position: relative;
    background-color: #f0f0f0;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-width: 0 0 thin;
    border-style: solid;

    &:nth-child(2n)
    {
        background-color: #fbfbfb;
    }

    > .information-wrapper {
        display: grid;
        grid-template-areas:
            "base specific";
        grid-auto-columns: minmax(0, 1fr);
        padding: 20px 40px;

        > .information {

            > .element {
                position: relative;
                display: block;
                padding: 4px 0;

                > .identity-name {
                    color: #44aece;
                    background: none;
                    border: none;
                    outline: none;
                }
            }

            &.base {
                grid-area: base;
            }

            &.specific {
                grid-area: specific;
            }
        }
    }

    > .code {
        display: flex;
        border-top-color: rgba(0, 0, 0, 0.12);
        border-width: thin 0 0;
        border-style: solid;
        padding: 10px 45px;

        > .copy-button {
            border: none;
            background: none;
            outline: none;
            cursor: pointer;
        }

        > .code-output {
            width: 80%;
            background: none;
            border: none;
            outline: none;
            font-family: monospace;
        }
    }

    > .remove-button {
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        background: none;
        padding: 16px;
        
        > span {
            cursor: pointer;
        }
    }
}

.dark-theme {

    .code-card {
        background-color: #2e2e2e;

        > .remove-button {
            color: #eeeeee;
        }

        > .information-wrapper {
            color: #eeeeee;

            > .information > .element > .identity-name {
                color: #44aeceba;
            }
        }

        > .code {
            > .copy-button {
                color: #eeeeee;
            }

            > .code-output {
                color: #eeeeee;
            }
        }

        &:nth-child(2n)
        {
            background-color: #313131;
        }
    }
}