.generator {
    position: absolute;
    bottom: 0;
    width: 100%;

    > .code-generator {
        width: 100%;
        background-color: rgb(68, 174, 206);
        color: #ffffff;
        font-size: 30px;
        padding: 20px;
        border: none;
        cursor: pointer;
    }
}

.dark-theme {
    .generator > .code-generator {
        color: #eeeeee;
        background-color: #44aeceba;
    }
}