.header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-width: 0 0 thin;
    border-style: solid;
    color: #333333;
    grid-area: header;

    > .delete-history {
        position: absolute;
        right: 0;
        padding: 0 20px;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

.dark-theme {
    .header {
        color: #eeeeee;
        border-bottom-color: rgba(0, 0, 0, 0.3);
    }
}